#root {
  color: rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.app {
  width: 100%;
  max-width: 1500px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  width: 100%;
}

.book-card {
  color: #0d1f33;
  font-size: 12px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background: rgb(221, 221, 221);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
}

.book-card h2, p {
  padding-left: 10px;
  padding-right: 10px;
}

.book-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-cover {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}